<header>
    <nav>
        <ul class="flex">
            <li>
                <a href="/">Inicio</a>
            </li>
            
            <% if(user != null){ %>

                <form action="/users/logout" method="POST">
                    <button>
                        Cerrar sesión
                    </button>
                </form>
                <li>
                    <a href="/users/profile">Perfil</a>
                </li>
                <li>
                    Bienvenido <%= user.name %>
                </li>

            <% } else { %> 
            
                <li>
                    <a href="/users/login">Iniciar sesión</a>
                </li><li>
                    <a href="/users/register">Registrarse</a>
                </li>
            
            <% } %>
        </ul>
    </nav>
</header>