<!DOCTYPE html>
<html>
  <%- include("./partials/head") %> 

  <body>
    <%- include("./partials/header") %> 
    <form action="/movies/search" method="get">
      <input type="text" class="text" name="search" placeholder="Buscar por titulo">
      <button>Buscar</button>
    </form>

    <ul>
      <% for(let i = 0; i < movies.length; i++) { %> 

        <li>
          <h3><a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a></h3>
          <p></p>
        </li>

      <% } %>
    </ul>
  </body>
</html>
