<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 

<body>
    <%- include("./partials/header") %> 

    <form action="/users/login" method="POST">
        <label for="">Email</label><input type="email" name="email">
        <label for="">Password</label><input type="password" name="password"><br>
        <label for="">Recordar usuario</label><input type="checkbox" name="recordame" id="">
        <button>Enviar</button>

    </form>
</body>
</html>